:root {
  --primary: #363537;
  --secondary: #d6e720;
  --tertiary: #0cce6b;
  --background: linear-gradient(180deg, #363537 0%, rgba(220, 237, 49, 1) 100%);
}
body {
  min-height: 100vh;
}
.bg {
  min-height: 100vh;
  background: var(--background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.secondary-font-color {
  color: var(--secondary);
}

.navbar-primary {
  background-color: var(--primary);
}

.NewBtn {
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  color: var(--primary);
  padding: 10px 20px;
  cursor: pointer;
  justify-content: right;
}

.ProjectList {
  margin: 5px 200px;
}

.ProjectCard {
  background-color: var(--secondary);
  border: 1px solid #111010;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

  &.deleted {
    background-color: darkred;
  }
}

.TaskList {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.TaskCard {
  background-color: var(--primary);
  color: white;
  border: 1px solid #cfc5c5;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: #181515;
  }
}

.no-projects {
  color: red;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.loader {
  width: 48px;
  max-width: fit-content;
  max-height: fit-content;
  height: 48px;
  border: 5px solid #35bad1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #1a53c3;
  min-height: 30px;
  display: flex;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-aria-ListBoxItem:hover {
  background-color: aquamarine;
  cursor: pointer;
}
.react-aria-ListBoxItem[data-selected] {
  background-color: rgb(150, 206, 20);
  border-radius: 2px;
}

.react-aria-ModalOverlay {
  width: 100vw;
  height: var(--visual-viewport-height);
  z-index: 100;
  background: #00000080;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}
